.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 0.5rem;
  width: 100%;
}
.gird-item {
  background: #f4bd50;
  height: 10rem;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.gird-item:nth-child(even) {
  background: #9868fa80;
}
